#length {
    position: relative;
    top: -35px;
    left: 1000px;
}

#player {
    display: none;
}

#volume, #eq {
    width: 50%;
    float: left;
}

#eq > span {
	height:120px; float:left; margin:15px
}